<!-- ユーザー詳細情報 -->
<%= render 'userinfo', user: @user %>

<!-- 新規投稿フォーム -->
<%= render 'books/newbook', book: @book %>


<!-- ユーザーの投稿一覧 -->
<div>
  <h2>Books</h2>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>

　　<% @books.each do |book| %>
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(@user.id) do %>
            <%= image_tag @user.get_profile_image(80,80) %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(book.id) do %>
            <%= book.title %>
          <% end %>
        </td>
        <td><%= book.body %></td>
      </tr>
    </tbody>
    <% end %>
  </table>

</div>
