<h2>Book detail</h2>
<table>
  <tbody>
    <tr>
      <td>
        <%= image_tag 'default-image.jpeg' %></br>
        <%= @book.user.name %>
      </td>
      <td>
        <%= link_to book_path(@book.id) do %>
          <%= @book.title %>
        <% end %>
      </td>
      <td><%= @book.body %></td>
      <% if @book.user == current_user %>
        <td>
          <%= link_to "Edit", edit_book_path(@book) %>
        </td>
        <td>
          <%= link_to "Destroy", book_path(@book), method: :delete %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
